ul {
    list-style-type: none;
    margin: 0;
    margin-top: 0.6em;
    padding: 0.7em;
    float:right;
    overflow: hidden;
    background-color: 141414;
    box-shadow: 0.1em 0.2em 2em 0.2em rgb(32, 32, 32);
    /* background-color: #708090; */
    
  }
li {
    margin-right: 0.9em;
    font-size: 1.6em;
    margin: 0.5em;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
  }

.logo {
  float: left;
}

.logodf {
  height: 3.5em;
  width: 14.5em ;
}